/* 

--- 01 typography system
- Font Size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Height
Default: 1
Small: 1.05
Medium: 1.2
Paragraph: 1.6
Large: 1.8

- Letter spacing
-0.5px
-0.75px

--- 03 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 04 BORDER-RADIUS
Default: 9px
Medium: 11px

--- 05 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/***************/
/* 顶部图片 */
/***************/
.header {
  --percentage: 0.5;
  position: relative;
  height: 16rem;
  min-width: 120rem;
}
.top-img {
  position: relative;
  width: 100%;
  height: 100%;
  /* 如果子元素绝对定位，父元素需要有position定位 否则这个属性没有用 */
  overflow: hidden;
  z-index: -1;
}
.header .view,
.header .tree {
  position: absolute;
  top: 0;
  bottom: 0;
  /* 默认设置--percentage: 0.5; 图片会向右移动一段距离，所以让容器一开始更左边一点 */
  left: -10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-img img,
.top-img video {
  position: absolute;
  top: 0;
  left: 0;
  /* img、video是行内元素设置宽高需要先变成块元素 */
  display: block;
  /* 图片设置大一些 便于图片移动 */
  width: 110%;
  height: 100%;
  /* 图片按比例放大填满容器 */
  object-fit: cover;
}
/* 鼠标从左到右移动依次显示 早上、下午、晚上， 所以早上在最上 下午第二 */
.header .morning {
  z-index: 20;
  /* 当鼠标移动到中间的时候 --percentage是0.5，此时早上的图片完全透明 */
  opacity: calc(1 - (var(--percentage) - 0.25) / 0.25);
}
.header .afternoon {
  z-index: 10;
  /* 当鼠标移动到末尾的时候 --percentage是1，此时下午的图片完全透明 */
  opacity: calc(1 - (var(--percentage) - 0.5) / 0.5);
}

.header .view {
  /* 动态计算水平位移距离 */
  transform: translateX(calc(var(--percentage) * 100px));
}
.header .tree {
  /* 树的移动比背景小一些 形成视差效果 */
  transform: translateX(calc(var(--percentage) * 50px));
  filter: blur(3px);
}
.header .view,
.header .tree,
.header .morning,
.header .afternoon {
  /* 鼠标移出图片的时候复位动画 */
  transition: all 0.3s ease-in;
}
.header.moving .view,
.header.moving .tree,
.header.moving .morning,
.header.moving .afternoon {
  /* 移动的时候取消动画，否则影响移动效果 */
  transition: none;
}
.header .window-cover {
  /* 移动到最后的时候显示窗户上的雪印 */
  opacity: calc((1 - var(--percentage)) / 0.1);
}
/***************/
/* 顶部导航栏 */
/***************/
.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.nav-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7rem;
  z-index: -1;
}
.sticky {
  position: fixed;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #e3e5e7;
}
.nav .link:link,
.nav .link:visited {
  display: flex;
  align-items: center;
}
.nav-item {
  position: relative;
  cursor: pointer;
}

.sticky-item .icon {
  width: 6rem;
  height: 5.6rem;
  margin-right: 2.4rem;
}
.sticky-item .nav-item-text {
  margin-right: 0.6rem;
}
.sticky-item .folder-icon {
  transition: transform 0.3s ease;
}
.sticky-item:hover .folder-icon {
  transform: rotate(180deg);
}
.nav-item-text {
  white-space: nowrap;
  font-size: 1.4rem;
}
/***************/
/* 导航栏左侧 */
/***************/
.nav-left-box {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-left-box .move-up-down:hover {
  animation: moveUpDown 0.3s ease-in;
}
.left-nav-link:link,
.left-nav-link:visited {
  display: block;
  height: 6.4rem;
  padding-right: 2.4rem;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/***************/
/* 导航栏中间 */
/***************/
.search-form {
  background-color: rgba(220, 228, 235, 0.9);
  display: flex;
  align-items: center;
  position: relative;
  min-width: 24rem;
  max-width: 50rem;
  flex-grow: 1;
  height: 3.6rem;
  padding: 0.4rem;
  border-radius: 9px;
}
.sticky .search-form {
  box-shadow: inset 0 -1px 0 0 #e3e5e7, inset 1px 0 0 0 #e3e5e7,
    inset -1px 0 0 0 #e3e5e7, inset 0 1px 0 0 #e3e5e7;
}
/* 置顶并且选中状态，不显示下边阴影 */
.sticky .search-form.focus {
  box-shadow: inset 1px 0 0 0 #e3e5e7, inset -1px 0 0 0 #e3e5e7,
    inset 0 1px 0 0 #e3e5e7;
}
.search-form:hover {
  background-color: #fff;
}
.search-form.focus {
  background-color: #fff;
  border-radius: 9px 9px 0 0;
}
.search-input-container {
  position: relative;
  flex-grow: 1;
  margin-right: 1.2rem;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.search-input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  margin-right: 0.5rem;
  padding-left: 12px;
}
.search-input.focus {
  background-color: #e3e5e7;
}
.search-delete-icon {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  fill: #c9ccd0;
  cursor: pointer;
  display: none;
}
.search-delete-icon:hover {
  fill: #61666d;
}
.search-btn {
  width: 3rem;
  height: 100%;
  border: none;
  background: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #e3e5e7;
}
/***************/
/* 导航栏右侧 */
/***************/
.nav-right-box {
  list-style: none;
  display: flex;
  align-items: center;
  width: auto;
}
.right-nav-item {
  position: relative;
  padding: 1.2rem 0 1.6rem 1.2rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-right-link:link,
.nav-right-link:visited {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.nav-right-link:hover .move-up-down {
  animation: moveUpDown 0.3s ease-in;
}

.avatar-box {
  display: block;
  width: 4rem;
  height: 4rem;
  position: relative;
  z-index: 40;
  border-radius: 50%;
  transform-origin: top center;
  transition: transform 0.3s;
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.avatar-pop-box:hover .avatar-box,
.avatar-box:hover {
  transform: translate(-3.2rem, 1rem) scale(2);
}
.btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #fb7299;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
}
.btn-top:hover {
  background-color: #fc8bab;
}
/***************/
/* 主要内容 */
/***************/
.main-container {
  margin: 0 auto;
  padding: 0 2.4rem;
  min-width: 120rem;
  max-width: 140rem;
  margin-bottom: 10rem;
}
/***************/
/* channel */
/***************/
.channel {
  display: flex;
  align-items: center;
  height: 11rem;
}

.channel-left {
  display: flex;
}

.left-link:link,
.left-link:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-right: 2.4rem;
}
.link-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
}
.link-round .icon {
  color: #fff;
  fill: #fff;
  width: 2.4rem;
  height: 2.4rem;
}
.link-news {
  background-color: #ff9212;
  transition: background-color 0.2s ease-in;
}
.link-news:hover {
  background-color: rgba(255, 144, 18, 0.8);
}
.link-hot {
  background-color: #f07775;
  transition: background-color 0.2s ease-in;
}
.link-hot:hover {
  background-color: rgba(240, 119, 117, 0.8);
}

.left-link-text {
  font-size: 1.4rem;
  color: #555;
}

.channel-right {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.channel-categories {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding-right: 3rem;
  border-right: 1px solid #e3e5e7;
}
.channel-category {
  position: relative;
  background-color: #f6f7f8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61666d;
  padding: 0.6rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  cursor: pointer;
}
.channel-category:hover {
  color: #000;
  background-color: #dfe1e3;
}
.channel-more {
  cursor: default;
}
.channel-more .icon {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.2s ease-in;
}
.channel-more:hover .icon {
  transform: rotate(180deg);
}

.channel-right-links {
  width: 24rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.4fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  row-gap: 1rem;
}
.channel-right-item {
  position: relative;
  color: #61666d;
  transition: color 0.2s ease-in;
}
.channel-right-item:hover {
  color: #00aeec;
}
.right-link:link,
.right-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.6rem;
}
.channel-right-item .icon {
  fill: #61666d;
  transition: fill 0.2s ease-in;
}
.channel-right-item:hover .icon {
  fill: #00aeec;
}
/***************/
/* channel置顶 */
/***************/
.channel-sticky {
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  min-width: 120rem;
  overflow: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #e3e5e7;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.channel-sticky-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  padding: 1.6rem 2.4rem;
  gap: 1.6rem;
}
.channel-sticky-left {
  flex-shrink: 0;
  display: flex;
  gap: 1.8rem;
}
.sticky-left-link:link,
.sticky-left-link:visited {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  color: #61666d;
  fill: #61666d;
  transition: color 0.3s ease, fill 0.3s ease;
}
.sticky-left-link:hover,
.sticky-left-link:active {
  color: #00aeec;
  fill: #00aeec;
}
.sticky-left-link .icon {
  width: 2.4rem;
  height: 2.4rem;
}
.channel-sticky-center {
  flex-grow: 1;
  position: relative;
}
.channel-sticky-categories {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  column-gap: 1rem;
  row-gap: 1.6rem;
  white-space: nowrap;
}
.channel-sticky-categories .channel-category {
  min-width: 6.8rem;
}
.left-categories {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  row-gap: inherit;
  column-gap: inherit;
}
.right-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  row-gap: inherit;
  column-gap: inherit;
}
.bottom-categories {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-column: span 15;
  row-gap: inherit;
  column-gap: inherit;
}
.channel-sticky-line {
  flex-shrink: 0;
  align-self: center;
  width: 1px;
  height: 14px;
  background-color: #e3e5e7;
}
.channel-folder-wrapper {
  position: absolute;
  left: calc(100% + 12px);
  top: 0;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.channel-folder-wrapper:hover {
  background-color: #e3e5e7;
}
.channel-sticky:hover .folder-icon {
  transform: rotate(180deg);
}
/***************/
/* 视频区域 */
/***************/
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
  column-gap: 20px;
  row-gap: 20px;
  position: relative;
}
/***************/
/* 轮播图 */
/***************/
.slide-container {
  background-color: #f6f7f8;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  position: relative;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.slide-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.slide-link {
  flex: 0 0 100%;
}
.slide {
  display: block;
  width: 100%;
  height: 100%;
}
.slide-footer {
  flex-grow: 1;
  background-color: var(--slide-footer-background-color);
  padding: 1.2rem;
  position: relative;
}
.slide-footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  background-color: var(--slide-footer-background-color);
  filter: blur(10px);
}
.slide-footer-top {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.slide-title {
  color: #fff;
  letter-spacing: 1px;
}
.slide-btn-container {
  display: flex;
  gap: 1.2rem;
}
.slide-btn {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.slide-btn .icon {
  color: #fff;
  width: 1.2rem;
  height: 1.2rem;
}
.slide-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.dots {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.8rem;
}
.dot {
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.dot.active {
  background: none;
}
.dot.active::before {
  content: '';
  position: absolute;
  left: -0.2rem;
  right: -0.2rem;
  top: -0.2rem;
  bottom: -0.2rem;
  border-radius: 50%;
  background-color: #fff;
  animation: var(--eat-animation);
}
@keyframes eat-next {
  0% {
    clip-path: circle(50%);
  }
  25% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 40%,
      60% 50%,
      100% 60%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 30%,
      60% 50%,
      100% 70%,
      100% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 20%,
      60% 50%,
      100% 80%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 10%,
      60% 50%,
      100% 90%,
      100% 100%,
      0% 100%
    );
  }
}
@keyframes eat-previous {
  0% {
    clip-path: circle(50%);
  }
  25% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 40%,
      40% 50%,
      0% 60%,
      0% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 30%,
      40% 50%,
      0% 70%,
      0% 100%,
      100% 100%
    );
  }
  75% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 20%,
      40% 50%,
      0% 80%,
      0% 100%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 10%,
      40% 50%,
      0% 90%,
      0% 100%,
      100% 100%
    );
  }
}
/***************/
/* 视频卡片 */
/***************/

.video-card {
  margin-top: 2.4rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
}

.video-link:link,
.video-link:visited {
  margin-bottom: 0.4rem;
}
.video-img-box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.8rem;
  aspect-ratio: 16 / 9;
}
.watch-later-box {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(47, 45, 40, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in;
  padding: 0.4rem;
}
.video-img-box:hover .watch-later-box {
  opacity: 1;
  visibility: visible;
}
.video-img-box .watch-later-icon-box {
  width: 2.4rem;
  height: 2.4rem;
}
.watch-later-text {
  color: #fff;
  font-size: 1.4rem;
  opacity: 0;
  max-width: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease-in, max-width 0.3s ease-in;
}
.watch-later-box:hover .watch-later-text {
  opacity: 1;
  max-width: 10rem;
  visibility: visible;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.thumbnail-cover.live-cover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
.video-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
  right: 0.6rem;
  color: #fff;
}
.video-status-left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.video-status-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.video-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-title-box {
  display: flex;
  position: relative;
  min-height: 4.8rem;
  cursor: default;
}
.video-title {
  color: #18191c;
  font-size: 1.4rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 没有超出容器，认为需要换行时对长单词换行 */
  word-break: break-word;
  /* 超过容器，对长单词换行 */
  overflow-wrap: break-word;
  margin-right: 2.4rem;
  margin-bottom: 0.8rem;
  transition: color 0.2s ease-in;
}
.video-title:hover {
  color: #00aeec;
}

.video-title .live-tag {
  display: inline-flex;
  align-items: center;
  color: #ff6699;
  border: 1px solid #ff6699;
  border-radius: 3px;
  gap: 0.4rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  line-height: 1;
}
.live-img-box {
  width: 1.2rem;
  height: 1.2rem;
}
.live-img-box img {
  width: 100%;
  height: 100%;
}
.no-interest-box {
  position: absolute;
  right: 0;
  top: 0;
  color: #61666d;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
  display: none;
}
.video-card:hover .no-interest-box {
  display: block;
}
.no-interest-box:hover {
  background-color: #eff0f1;
}
.video-info p {
  cursor: pointer;
}
.video-up-box:link,
.video-up-box:visited,
.video-info p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #73787e;
  font-size: 1.2rem;
  transition: color 0.2s ease-in;
}
.video-up-box:hover,
.video-up-box:active {
  color: #00aeec;
}
.like-tag {
  color: #ff812a;
  background-color: #fff0e3;
  padding: 0.4rem;
  border-radius: 5px;
}
.thumbnail {
  width: 100%;
  height: 100%;
}
.channel-card {
  border: 1px solid #e3e5e7;
  position: relative;
  background-color: #fff;
  transition: background-color 0.2s ease-in;
}
.channel-card:hover {
  background-color: #f1f2f3;
}
.channel-card .video-info {
  padding-left: 1.2rem;
}
.channel-tag {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  top: 5%;
  left: 3%;
  background-color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}
.channel-card-layer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 6px);
  z-index: -1;
  width: 90%;
  height: 100%;
  background-color: #e3e5e7;
  border-radius: 9px;
}
.tiny-layer {
  transform: translate(-50%, 12px);
  z-index: -2;
  width: 80%;
  background-color: #f1f2f3;
}

.channel-tag span {
  font-size: 1.4rem;
}
/***************/
/* 换一换 */
/***************/
.change-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.8rem;
  padding: 1.2rem;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
  border: 1px solid #e3e5e7;
  border-radius: 9px;
  transition: background-color 0.3s ease;
}
.change-wrapper:hover {
  background-color: #e3e5e7;
}

.change-wrapper .icon {
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.5s ease-in-out;
}

.change-text {
  writing-mode: vertical-lr;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
/***************/
/* aside */
/***************/
.aside {
  position: fixed;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}
.aside-btn {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border: 1px solid #e3e5e7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.aside-btn:hover {
  background-color: #f1f2f3;
}
.aside-btn .icon {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}
.aside-text {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}
.refresh-btn {
  padding: 0 0.8rem;
  flex-direction: row;
  border: none;
  background-color: #00aeec;
  color: #fff;
  transition: opacity 0.5s ease, background-color 0.3s ease, width 0.5s ease;
  overflow: hidden;
}
.refresh-btn:hover {
  width: 10rem;
  background-color: #40c5f1;
}
.refresh-btn-text {
  display: block;
  width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: padding-left 0.3s ease, width 0.5s ease, opacity 0.5s ease;
}
.refresh-btn:hover .refresh-btn-text {
  width: 6.4rem;
  padding-left: 0.6rem;
  opacity: 1;
}
.refresh-btn .icon {
  transition: transform 0.7s ease;
}
.refresh-btn:hover .icon {
  transform: rotate(360deg);
}
.storage-box {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.storage-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.storage-box.hover .storage-item {
  opacity: 1;
  max-height: 12rem;
}
.three-dots-btn {
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
}
.storage-box.hover .three-dots-btn {
  opacity: 0;
  height: 0;
}
.feedback-btn {
  padding: 0.4rem;
}
.customer-service-btn {
  height: 4.8rem;
}
.return-top-btn {
  height: 4.4rem;
  transition: opacity 0.5s ease, background-color 0.3s ease;
}
.return-top-btn .icon {
  width: 1.2rem;
  height: 1.2rem;
}
